{% extends template.html %}
{% block content %}
<div id="notfound">
  <div class="notfound">
    <h2>404 - Page not found</h2>
    <p>{{message|safe}}</p>
    <a href="/download/{{video_code}}">Retry</a>
    <a href="/report/{{video_code}}">Report this</a>
  </div>
</div>
{% endblock }