{% extends 'template.html' %}
{% block content %}
<div id="notfound">
  <div class="notfound">
    <h2>Request received</h2>
    <p>{{message|safe}}</p>
    <!-- TODO: Link to a download page -->
  </div>
</div>
{% endblock %}